---
import { defaultSlides as slides } from "../../../data/marketsData";

// CSS de Swiper: Vite lo agrupa en un archivo local.
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';


---

<div
  class="block min-[1024px]:hidden  w-full relative select-none"
  data-carousel
  aria-roledescription="carousel"
  aria-label="Carrusel de mercados"
>
  <div class="swiper w-full pb-16 h-[350px]" id="swiperMarketsMobile">
    <div class="swiper-wrapper">
      {slides.map((slide, index) => (
        <div
          class="swiper-slide relative w-[300px] h-[300px] bg-cover bg-center shadow-xl"
          data-index={index}
        >
          <img
            class="block w-full h-full object-cover"
            src={slide.mobileImage}
            alt={slide.title}
            loading="lazy"
            decoding="async"
          />
          <div class="absolute inset-0 z-[1] pointer-events-none bg-black/30"></div>
          <div class="absolute inset-0 z-[2] pointer-events-none bg-gradient-to-t from-black/30 via-transparent to-transparent"></div>
          <h3 class={`absolute z-[3] font-jost text-white font-bold uppercase whitespace-nowrap text-lg md:text-xl bottom-8 left-4 ${slide.marginBottomOfTitle || ""}`}>
            {slide.title}
          </h3>
          <h4 class="absolute z-[3] text-white bottom-2 uppercase text-sm left-4">
            {slide.subtitle}
          </h4>
        </div>
      ))}
    </div>
    <div class="swiper-pagination -bottom-12"></div>
  </div>
</div>

<script src="../../../scripts/interactions/init-swiper.ts"></script>

<style is:global>
  :root {
    --swiper-pagination-color: #FA4616;
    --swiper-pagination-bullet-inactive-color: #116cf9;
    --swiper-pagination-bullet-inactive-opacity: 0.7;
    --swiper-pagination-bullet-size: 16px;
  }

  /* Fijar ancho de cada slide */
  #swiperMarketsMobile .swiper-slide {
    width: 280px !important;   /* fuerza sobre la regla de Swiper */
    height: 300px;             /* mismo alto que usabas */
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 5px !important;
  }

  @media (min-width: 380px) {
    #swiperMarketsMobile .swiper-slide { width: 300px !important; }
  }
</style>